<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login page</title>
</head>
<body>
    <h2>login</h2>
    <form action="/submit", method="post">
        <label for="name">Name:</label>
        <input type="text" id="name" name="username" placeholder="enter your name">
        <br><br>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" placeholder="enter the password">
        <br><br>
        <input type="submit" value="login">
    </form>
</body>
</html>